*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html * {
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-text-size-adjust: 100%;
  -webkit-touch-callout: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: auto;
  background-color: var(--background-color-main);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  & button {
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }

  & button:focus {
    outline-style: none;
  }

  & img {
    display: block;
    max-width: 100%;
    object-fit: contain;
  }

  & strong {
    font-family: inherit;
    font-weight: inherit;
  }
}
